html, body, #root {
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0;
    margin-bottom: 2rem;
    color: #daa520;
    overflow: hidden;
    overflow-y: scroll;
}

button {
    cursor: pointer;
    color: #daa520;
    background-color: transparent;
    border: 2px solid #daa520;
    border-radius: 10px;
    transition-property: color border opacity;
    transition-duration: 0.2s;
    will-change: scale;

    &:hover {
        color: #c18c06;
        border: 2px solid #c18c06;
    }

    &:active {
        scale: 0.96;
    }

    &:disabled {
        opacity: 0.4;
    }
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background:
        linear-gradient(
            130deg,
            rgb(121, 143, 93) 0%,
            rgb(114, 108, 68) 25%,
            rgb(95, 88, 59) 50%,
            rgb(114, 108, 68) 75%,
            rgb(121, 143, 93) 100%
        );
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    padding: 4rem 1.4rem 1.5rem;
    box-shadow: 0px 0px 10px rgb(254, 221, 89);
    border-bottom: 5px solid rgb(95, 88, 59);

    span {
        z-index: 1;
        position: relative;
        border: 5px solid #daa520;
        padding: 0.8rem;
        text-shadow: 0px 0px 5px #c18c06;

        &::before {
            content: '';
            position: absolute;
            top: -50px;
            left: -15px;
            width: 0; 
            height: 0; 
            border-left: 170px solid transparent;
            border-right: 170px solid transparent;
            border-bottom: 50px solid #daa520;
        }

        &::after {
            content: '';
            width: 110%;
            height: 100%;
            position: absolute;
            top: -5px;
            left: -5%;
            border-top: 5px solid #daa520;
            border-bottom: 5px solid #daa520;
            box-shadow: 0px 8px 4px -4px #936b07;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: -20px;
        left: -15px;
        width: 6em;
        height: 6em;
        transform: scale(1, -1);
        background-image: url(./images/title-border.png);
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.5;
    }

    &::after {
        content: '';
        position: absolute;
        top: -20px;
        right: -15px;
        width: 6em;
        height: 6em;
        transform: scale(-1, -1);
        background-image: url(./images/title-border.png);
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.5;
    }
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    row-gap: 2em;
    justify-items: center;
    margin: 2rem 0;
}

.book {
    z-index: 1;
    cursor: pointer;
    position: relative;
    width: 14rem;
    height: 18rem;
    padding-left: 1rem;
    box-shadow: 0px 0px 10px black;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    transition-property: filter;
    transition-duration: 0.5s;

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: larger;
        font-weight: bold;
        margin: 0rem 0.6rem 0rem 1.4rem;
        outline: none;
        overflow: hidden;

        &:first-child {
            padding: 1rem;
            padding-top: 2rem;
            border-bottom: 2px solid #daa520;

            &[contenteditable]:empty::before{
                cursor: text;
                content: "Title";
                color: rgba(218, 165, 32, 0.7);
            }
        }

        &:nth-child(2) {
            width: 10rem;
            font-size: small;
            font-style: normal;
            padding-top: 0.4rem;
            margin-left: 2.85em;

            &[contenteditable]:empty::before {
                cursor: text;
                content: "Author";
                color: rgba(218, 165, 32, 0.7);
            }
        }
    }

    &:hover {
        filter: brightness(80%);
    }

    &::before {
        content: '';
        display: block;
        float: left;
        height: 100%;
        border-left: 10px double goldenrod;
    }
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0;
    max-height: 0;
    background:
        linear-gradient(
            130deg,
            rgb(121, 143, 93) 0%,
            rgb(114, 108, 68) 25%,
            rgb(95, 88, 59) 50%,
            rgb(114, 108, 68) 75%,
            rgb(121, 143, 93) 100%
        );
    padding: 0;
    transform: scaleY(0);
    transform-origin: top;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    }

    &.show {
        flex: 1;
        max-height: 100vh;
        padding: 1rem;
        transform: scaleY(1);
    }
}

.page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-title {
    cursor: pointer;
    font-weight: bold;
    font-size: 2rem;
}

.page-domain {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    span:not(:last-child) {
        padding-right: 1rem;
        border-right: 2px solid rgba(0, 0, 0, 0.1);
    }
}

#tsparticles {
    pointer-events: none;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}